.isOpen .line1 {
  animation: ease 0.3s top forwards;
  transform-origin: center;
}

.isClosed .line1 {
  animation: ease 0.3s top-2 forwards;
  transform-origin: center;
}

.isOpen .line2 {
  animation: ease 0.3s scaled forwards;
  transform-origin: center;
}

.isClosed .line2 {
  animation: ease 0.3s scaled-2 forwards;
  transform-origin: center;
}

.isOpen .line3 {
  animation: ease 0.3s bottom forwards;
  transform-origin: center;
}

.isClosed .line3 {
  animation: ease 0.3s sclled forwards;
  transform-origin: center;
}

.isOpen .line4 {
  animation: ease 0.3s hidden-bottom forwards;
  transform-origin: center;
}

.isClosed .line4 {
  animation: ease 0.3s hidden-bottom-2 forwards;
  transform-origin: center;
}

@keyframes top {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(8.5px) rotate(0deg);
  }
  100% {
    transform: translateY(6.5px) rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    transform: translateY(6.5px) rotate(45deg);
  }
  50% {
    transform: translateY(8.5px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes middle {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(4px) rotate(135deg);
  }
}

@keyframes middle-2 {
  0% {
    transform: translateY(4px) rotate(135deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes bottom {
  0% {
    transform: translateY(0px) scale(0);
  }
  50% {
    transform: translateY(-8px) scale(0);
  }
  100% {
    transform: translateY(-8px) scale(0);
  }
}

@keyframes bottom-2 {
  0% {
    transform: translateY(-8px) scale(0);
  }
  50% {
    transform: rotate(0) scale(0);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

@keyframes hidden-bottom {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-4px) rotate(0);
  }
  50% {
    fill: #ccd6f6;
  }
  100% {
    transform: translateY(-6.5px) rotate(-45deg);
    fill: #ccd6f6;
  }
}

@keyframes hidden-bottom-2 {
  0% {
    transform: translateY(-6.5px) rotate(-45deg);
    fill: #ccd6f6;
  }
  25% {
    transform: translateY(-4px) rotate(0deg);
    fill: transparent;
  }
  50% {
    transform: translateY(-4px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes scaled {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

// Burger menu

.slideMenuEnter {
  transform: translateX(-100%);
}

.slideMenuEnterActive {
  transform: translateX(0);
  transition: transform 300ms;
}

.slideMenuExit {
  transform: translateX(0);
}

.slideMenuExitActive {
  transform: translateX(-100%);
  transition: transform 300ms;
}
